# Python demo
UW Geospatial Data Analysis  
CEE498/CEWA599  
David Shean

In [1]:
import os

In [2]:
os.path.split?

Signature: os.path.split(p)
Docstring:
Split a pathname.  Returns tuple "(head, tail)" where "tail" is
everything after the final slash.  Either part may be empty.
File:      /srv/conda/envs/notebook/lib/python3.8/posixpath.py
Type:      function

In [3]:
p = /srv/conda/envs/notebook/lib/python3.8/posixpath.py

SyntaxError: invalid syntax (<ipython-input-3-17c087e07115>, line 1)

In [5]:
p = "/srv/conda/envs/notebook/lib/python3.8/posixpath.py"

In [6]:
p

'/srv/conda/envs/notebook/lib/python3.8/posixpath.py'

In [7]:
mytuple = os.path.split(p)

In [8]:
mytuple

('/srv/conda/envs/notebook/lib/python3.8', 'posixpath.py')

In [9]:
mytuple[0] = 'something different'

TypeError: 'tuple' object does not support item assignment

In [10]:
a = 0
a

0

In [11]:
a = 'cool string'
a

'cool string'

In [12]:
print(a)

cool string

In [13]:
type(a)

str

In [14]:
a.capitalize()

'Cool string'

In [15]:
a = range(10)
a

range(0, 10)

In [16]:
a.start

0

In [17]:
t = tuple(a)
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [18]:
l = list(a)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
len(l)

10

In [20]:
len(t)

10

In [21]:
0 in l

True

In [22]:
True?

Type:        bool
String form: True
Namespace:   Python builtin
Docstring:
bool(x) -> bool

Returns True when the argument x is true, False otherwise.
The builtins True and False are the only two instances of the class bool.
The class bool is a subclass of the class int, and cannot be subclassed.

In [23]:
i = 'asdf' in l

In [24]:
i

False

In [25]:
if 5 in l:
    print("Hooray")

Hooray

In [26]:
l[2]

2

In [27]:
l[-2]

8

In [28]:
l[-5:-1]

[5, 6, 7, 8]

In [29]:
l[::2]

[0, 2, 4, 6, 8]

In [30]:
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [31]:
l.reverse()
l

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [32]:
l[0] = 0

In [33]:
l

[0, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [34]:
for i in l:
    print(i)

0
8
7
6
5
4
3
2
1
0

In [35]:
1 + 2

3

In [36]:
'asdf'+'jkl;'

'asdfjkl;'

In [37]:
'asdf'+1

TypeError: can only concatenate str (not "int") to str

In [38]:
out = [i/2 for i in l]

In [39]:
out

[0.0, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0]

### Find all numbers that contain a given integer

In [40]:
l = list(range(100))

In [41]:
25 in l

True

In [42]:
result = []
for i in l:
    if i % 7 == 0:
        result.append(i)
result

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [43]:
result = []
for i in l:
    if i % 5 == 0:
        result.append(i)
result

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [44]:
result = []
for i in l:
    if i % 10 == 0:
        result.append(i)
result

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

## Create a function

In [45]:
def find_multiples_list(inlist, n):
    result = []
    for i in inlist:
        if i % n == 0:
        #if str(n) in str(i):
            result.append(i)
    return result

In [46]:
out = find_multiples_list(l, 5)

In [47]:
out

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [48]:
find_multiples_list(l, 7)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]